@font-face {
    font-family: 'Courier';
    src: url('../fonts/couriernew.ttf');
    src: url('../fonts/couriernew.eot') format('eot');
    src: url('../fonts/CourierNew.otf') format('otf');
    src: url('../fonts/couriernew.ttf') format('ttf');
    src: url('../fonts/CourierNew.woff') format('woff');
    src: url('../fonts/couriernew.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}


@font-face {
    font-family: 'Courier';
    src: url('../fonts/couriernewbold.ttf');
    src: url('../fonts/couriernewbold.eot') format('eot');
    src: url('../fonts/CourierNewBold.otf') format('otf');
    src: url('../fonts/couriernewbold.ttf') format('ttf');
    src: url('../fonts/CourierNewBold.woff') format('woff');
    src: url('../fonts/couriernewbold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
